spring.application.name=YOSTO-backend
spring.datasource.url=jdbc:postgresql://localhost:5432/yosto
spring.datasource.username=postgres
spring.datasource.password=postgres
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=create-drop
file.upload-dir=src/main/resources/static/images

spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=ucllyosto@gmail.com
spring.mail.password=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true